html, body {
  width: 100%;
  height: 100%;
}

body {
  padding: 0px;
  margin: 0px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
  font-family: 'Montserrat', sans-serif;
}

* {
  box-sizing: border-box;
}



h1, h2, h3, h4, h5, h6, p {
  margin: 0px;
  padding: 0px;
}


ul, ol {
  list-style: none;
  margin: 0px;
  padding: 0px;
}



a, a:hover, a:focus {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.container {
  width: 85%;
  max-width: 1170px;
  margin: 0 auto;
  position: relative;
}

section {
  padding: 100px 0;
}

header {
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  background-color: #333;
  z-index: 100;
}

.tab { text-indent: 25px; }

#logo {
  float: left;
}

#logo a img {
  width: 35px;
  margin: 5px;

}

.nav {
  float: right;
}

.nav li {
  display: inline-block;
}

.nav li a {
  color: #fff;
  text-transform: capitalize;
  display: block;
  padding: 10px 12px;
}

@media (max-width: 599px) { 
  header .container {
    width: 100%;
    margin: 5px 0px;
  }

  #logo {
    margin-left: 7px;
  }

  .nav li a {
    padding: 10px 5px;
    font-size: 13px;
  }

}

.home_bg {
  background-color: #F1F8F7;

  background-position: 0px 45px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
}

.container_table {
  display: table;
  width: 100%;
  height: 100%;
  position: relative;
  padding-top: 0px;
}

.container_table_cell {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.container_table_cell h2 {
  color: #fff;
  text-transform: capitalize;
  font-size: 54px;
  line-height: 65px;


}

@media (max-width: 599px) { 
  .container_table_cell h2 {

  font-size: 42px;
  margin-bottom: 20px;
  }
}


h2 {
  margin-bottom: 75px;
  text-align: center;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
  letter-spacing: 2px;
}


.info, .user-story, .style-guide, .prototype {
  background-color: #f9f9f9;
}



.button-group a {
  display: block;
  color: #000;
  border: 1px solid #333;
  border-radius: 10px;
  padding: 10px 38px;
  text-transform: capitalize;
}

.button-group a:hover {
  background: #000;
  color: #fff;
  -webkit-transition: all .4s linear;
  -moz-transition: all .4s linear;
  -ms-transition: all .4s linear;
  -o-transition: all .4s linear;
  transition: all .4s linear;
}


footer {
  padding: 80px 0;
  background-color: #000;
  color: #fff;
  text-align: center;
}

.footer-content p {
  line-height: 22px;
}

.footer-social-icon a i {
  color: #fff;
  display: inline-block;
  font-size: 18px;
  line-height: 20px;
  margin-top: 15px;
  margin-right: 15px;
}


